#corda1 {
    
    border-radius: 5px;
    background-color: black;
    height: 7px;
    width: 80%;
    position: absolute;
    top: 100px   

}



#corda2 {
    
    border-radius: 5px;
    background-color: black;
    height: 7px;
    width: 1000px;
    position: absolute;
    top: 150px   

}

#corda3 {
    
    border-radius: 5px;
    background-color: black;
    height: 7px;
    width: 1000px;
    position: absolute;
    top: 200px   

}

#corda4 {
    
    border-radius: 5px;
    background-color: black;
    height: 7px;
    width: 1000px;
    position: absolute;
    top: 250px   

}

#corda5 {
    
    border-radius: 5px;
    background-color: black;
    height: 7px;
    width: 1000px;
    position: absolute;
    top: 300px   

}

#corda6 {
    
    border-radius: 5px;
    background-color: black;
    height: 7px;
    width: 1000px;
    position: absolute;
    top: 350px   

}

#traste1 {

    background-color: gray;
    height: 250px;
    width: 3px;
    position: absolute;
    top: 100px;

}

#traste2 {

    background-color: gray;
    height: 250px;
    width: 3px;
    position: absolute;
    top: 100px;
    left: 200px;

}

#traste3 {

    background-color: gray;
    height: 250px;
    width: 3px;
    position: absolute;
    top: 100px;
    left: 280px;

}

#traste4 {

    background-color: gray;
    height: 250px;
    width: 3px;
    position: absolute;
    top: 100px;
    left: 360px;

}

#traste5 {

    background-color: gray;
    height: 250px;
    width: 3px;
    position: absolute;
    top: 100px;
    left: 440px;

}

#traste6 {

    background-color: gray;
    height: 250px;
    width: 3px;
    position: absolute;
    top: 100px;
    left: 520px;

}

#traste7 {

    background-color: gray;
    height: 250px;
    width: 3px;
    position: absolute;
    top: 100px;
    left: 600px;

}

#traste8 {

    background-color: gray;
    height: 250px;
    width: 3px;
    position: absolute;
    top: 100px;
    left: 680px;

}

#traste9 {

    background-color: gray;
    height: 250px;
    width: 3px;
    position: absolute;
    top: 100px;
    left: 760px;

}

#traste10 {

    background-color: gray;
    height: 250px;
    width: 3px;
    position: absolute;
    top: 100px;
    left: 840px;

}

#traste11 {

    background-color: gray;
    height: 250px;
    width: 3px;
    position: absolute;
    top: 100px;
    left: 920px;

}

#traste12 {

    background-color: gray;
    height: 250px;
    width: 3px;
    position: absolute;
    top: 100px;
    left: 1000px;

}

#traste13 {

    background-color: gray;
    height: 250px;
    width: 3px;
    position: absolute;
    top: 100px;
    left: 1080px;

}