*{

    margin: 40px;
    margin-top: 0;
}

.menu {

    list-style: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
    
}

.opcoes {

    display: none;
}

#backMenu{

    background-color: rgb(112, 112, 112);
    height: 50px;
    width: 1000px;
    position: absolute;
    top: 9px;
}

#acordes{

    position: absolute;
    top: 10px;
    left: 400px;
    font-weight: bold;
    color: whitesmoke;   
    background-color: rgb(112, 112, 112);   
    height: 39px;
    width: 160px;
    padding-top: 10px;
    padding-left: 60px;
   
}

.quadro{

    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 0;
    color: whitesmoke;
}

.quadro:hover{

    color: yellow;
    cursor: pointer;
    font-weight: bold;
}

#quadroEscalas {

    background-color: rgb(48, 55, 56);
    height: 300px;
    width: 220px;
    position: absolute;
    top: 58px;
    left: 800px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 2;
    display: none;
    
}

#pestana {

    background-color:greenyellow;
    height: 270px;
    width: 15px;
    border-radius: 5px;
    position: absolute;
    top: 93px;
    display: none;
}

#quadroArpejos {

    background-color: rgb(48, 55, 56);
    height: 300px;
    width: 200px;
    position: absolute;
    top: 58px;
    left: 600px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 2;
    display: none;
    
    
}

#quadroAcordes {

    background-color: rgb(48, 55, 56);
    height: 300px;
    width: 200px;
    position: absolute;
    top: 58px;
    left: 400px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 2;
    display: none;    
}

#acordes:hover{

    background-color: black;
    cursor: pointer;
   
}

#arpejos:hover{

    background-color: black;
    cursor: pointer;
   
}

#escalas:hover{

    background-color: black;
    cursor: pointer;
   
}

#arpejos{

    position: absolute;
    top: 10px;
    left: 600px;
    font-weight: bold;
    color: whitesmoke;   
    background-color: rgb(112, 112, 112);   
    height: 39px;
    width: 160px;
    padding-top: 10px;
    padding-left: 60px;
    
}

#escalas{

    position: absolute;
    top: 10px;
    left: 800px;
    font-weight: bold;
    color: whitesmoke;  
    background-color: rgb(112, 112, 112);   
    height: 39px;
    width: 160px;
    padding-top: 10px;
    padding-left: 60px;
    
}


body{

    background-color: whitesmoke;
}

#corda1 {
    
    border-radius: 5px;
    background-color: black;
    height: 2px;
    width: 1000px;
    position: absolute;
    top: 100px   

}



#corda2 {
    
    border-radius: 5px;
    background-color: black;
    height: 3px;
    width: 1000px;
    position: absolute;
    top: 150px   

}

#corda3 {
    
    border-radius: 5px;
    background-color: black;
    height: 4px;
    width: 1000px;
    position: absolute;
    top: 200px   

}

#corda4 {
    
    border-radius: 5px;
    background-color: black;
    height: 5px;
    width: 1000px;
    position: absolute;
    top: 250px   

}

#corda5 {
    
    border-radius: 5px;
    background-color: black;
    height: 6px;
    width: 1000px;
    position: absolute;
    top: 300px   

}

#corda6 {
    
    border-radius: 5px;
    background-color: black;
    height: 7px;
    width: 1000px;
    position: absolute;
    top: 350px   

}

#traste1 {

    background-color: gray;
    height: 250px;
    width: 3px;
    position: absolute;
    top: 100px;

}

#traste2 {

    background-color: gray;
    height: 250px;
    width: 3px;
    position: absolute;
    top: 100px;
    left: 200px;

}

#traste3 {

    background-color: gray;
    height: 250px;
    width: 3px;
    position: absolute;
    top: 100px;
    left: 280px;

}

#traste4 {

    background-color: gray;
    height: 250px;
    width: 3px;
    position: absolute;
    top: 100px;
    left: 360px;

}

#traste5 {

    background-color: gray;
    height: 250px;
    width: 3px;
    position: absolute;
    top: 100px;
    left: 440px;

}

#traste6 {

    background-color: gray;
    height: 250px;
    width: 3px;
    position: absolute;
    top: 100px;
    left: 520px;

}

#traste7 {

    background-color: gray;
    height: 250px;
    width: 3px;
    position: absolute;
    top: 100px;
    left: 600px;

}

#traste8 {

    background-color: gray;
    height: 250px;
    width: 3px;
    position: absolute;
    top: 100px;
    left: 680px;

}

#traste9 {

    background-color: gray;
    height: 250px;
    width: 3px;
    position: absolute;
    top: 100px;
    left: 760px;

}

#traste10 {

    background-color: gray;
    height: 250px;
    width: 3px;
    position: absolute;
    top: 100px;
    left: 840px;

}

#traste11 {

    background-color: gray;
    height: 250px;
    width: 3px;
    position: absolute;
    top: 100px;
    left: 920px;

}

#traste12 {

    background-color: gray;
    height: 250px;
    width: 3px;
    position: absolute;
    top: 100px;
    left: 1000px;

}

#traste13 {

    background-color: gray;
    height: 250px;
    width: 3px;
    position: absolute;
    top: 100px;
    left: 1080px;

}

#corda6_casa0{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 330px;
    left: 60px;
}

#corda6_casa1{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 330px;
    left: 140px;
}

#corda6_casa2{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 330px;
    left: 220px;
}

#corda6_casa3{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 330px;
    left: 300px;
}

#corda6_casa4{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 330px;
    left: 380px;
}

#corda6_casa5{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 330px;
    left: 460px;
}

#corda6_casa6{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 330px;
    left: 540px;
}

#corda6_casa7{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 330px;
    left: 620px;
}

#corda6_casa8{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 330px;
    left: 700px;
}

#corda6_casa9{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 330px;
    left: 780px;
}

#corda6_casa10{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 330px;
    left: 860px;
}

#corda6_casa11{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 330px;
    left: 940px;
}

#corda6_casa12{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 330px;
    left: 1020px;
}

#corda5_casa0{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 280px;
    left: 60px;
}

#corda5_casa1{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 280px;
    left: 140px;
}

#corda5_casa2{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 280px;
    left: 220px;
}

#corda5_casa3{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 280px;
    left: 300px;
}

#corda5_casa4{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 280px;
    left: 380px;
}

#corda5_casa5{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 280px;
    left: 460px;
}

#corda5_casa6{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 280px;
    left: 540px;
}

#corda5_casa7{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 280px;
    left: 620px;
}

#corda5_casa8{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 280px;
    left: 700px;
}

#corda5_casa9{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 280px;
    left: 780px;
}

#corda5_casa10{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 280px;
    left: 860px;
}

#corda5_casa11{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 280px;
    left: 940px;
}

#corda5_casa12{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 280px;
    left: 1020px;
}

#corda4_casa0{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 230px;
    left: 60px;
}

#corda4_casa1{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 230px;
    left: 140px;
}

#corda4_casa2{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 230px;
    left: 220px;
}

#corda4_casa3{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 230px;
    left: 300px;
}

#corda4_casa4{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 230px;
    left: 380px;
}

#corda4_casa5{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 230px;
    left: 460px;
}

#corda4_casa6{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 230px;
    left: 540px;
}

#corda4_casa7{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 230px;
    left: 620px;
}

#corda4_casa8{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 230px;
    left: 700px;
}

#corda4_casa9{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 230px;
    left: 780px;
}

#corda4_casa10{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 230px;
    left: 860px;
}

#corda4_casa11{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 230px;
    left: 940px;
}

#corda4_casa12{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 230px;
    left: 1020px;
}

#corda3_casa0{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 180px;
    left: 60px;
}

#corda3_casa1{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 180px;
    left: 140px;
}

#corda3_casa2{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 180px;
    left: 220px;
}

#corda3_casa3{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 180px;
    left: 300px;
}

#corda3_casa4{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 180px;
    left: 380px;
}

#corda3_casa5{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 180px;
    left: 460px;
}

#corda3_casa6{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 180px;
    left: 540px;
}

#corda3_casa7{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 180px;
    left: 620px;
}

#corda3_casa8{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 180px;
    left: 700px;
}

#corda3_casa9{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 180px;
    left: 780px;
}

#corda3_casa10{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 180px;
    left: 860px;
}

#corda3_casa11{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 180px;
    left: 940px;
}

#corda3_casa12{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 180px;
    left: 1020px;
}

#corda2_casa0{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 130px;
    left: 60px;
}

#corda2_casa1{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 130px;
    left: 140px;
}

#corda2_casa2{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 130px;
    left: 220px;
}

#corda2_casa3{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 130px;
    left: 300px;
}

#corda2_casa4{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 130px;
    left: 380px;
}

#corda2_casa5{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 130px;
    left: 460px;
}

#corda2_casa6{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 130px;
    left: 540px;
}

#corda2_casa7{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 130px;
    left: 620px;
}

#corda2_casa8{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 130px;
    left: 700px;
}

#corda2_casa9{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 130px;
    left: 780px;
}

#corda2_casa10{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 130px;
    left: 860px;
}

#corda2_casa11{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 130px;
    left: 940px;
}

#corda2_casa12{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 130px;
    left: 1020px;
}

#corda1_casa0{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 80px;
    left: 60px;
}

#corda1_casa1{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 80px;
    left: 140px;
}

#corda1_casa2{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 80px;
    left: 220px;
}

#corda1_casa3{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 80px;
    left: 300px;
}

#corda1_casa4{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 80px;
    left: 380px;
}

#corda1_casa5{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 80px;
    left: 460px;
}

#corda1_casa6{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 80px;
    left: 540px;
}

#corda1_casa7{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 80px;
    left: 620px;
}

#corda1_casa8{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 80px;
    left: 700px;
}

#corda1_casa9{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 80px;
    left: 780px;
}

#corda1_casa10{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 80px;
    left: 860px;
}

#corda1_casa11{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 80px;
    left: 940px;
}

#corda1_casa12{

    background-color: gray;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    padding: 10px;
    position: absolute;
    top: 80px;
    left: 1020px;
}

#limpar {

    background-color: rgb(27, 200, 223);
    height: 50px;
    width: 100px;
    font-size: 30px;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    top: 400px;



}

#limpar:hover {

    cursor: pointer;
}

#mostrar {

    background-color: yellowgreen;
    height: 50px;
    width: 200px;
    font-size: 30px;
    padding: 10px;
    border-radius: 10px;
    position: absolute;
    top: 400px;
    left: 300px;



}

#mostrar:hover {

    cursor: pointer;
}

#input {

    height: 50px;
    width: 300px;
    font-size: 30px;
    font-family:'Courier New', Courier, monospace;
    position: absolute;
    top: 410px;
    left: 600px;
    border-radius: 10px;
    background-color: black;
    color: greenyellow;
    font-weight: bold;
}

#botao{

    height: 50px;
    width: 400px;
    font-size: 30px;
    font-family:'Courier New', Courier, monospace;
    position: absolute;
    top: 470px;
    left: 600px;
    border-radius: 10px;
    background-color:rgb(65, 65, 102);
    color: wheat;
    font-weight: bold;
    
}

#botao0{

    height: 50px;
    width: 200px;
    font-size: 30px;
    font-family:'Courier New', Courier, monospace;
    position: absolute;
    top: 9px;
    right: 20px;
    border-radius: 10px;
    background-color:rgb(65, 65, 102);
    color: wheat;
    font-weight: bold;
    
}

#bolinha1 {

    background-color: rgb(49, 48, 48);
    height: 20px;
    width: 20px;
    border-radius: 20px;
    position: absolute;
    top: 220px;
    left: 310px;
    z-index: -1;
}

#bolinha2 {

    background-color: rgb(49, 48, 48);
    height: 20px;
    width: 20px;
    border-radius: 20px;
    position: absolute;
    top: 220px;
    left: 470px;
    z-index: -1;
}

#bolinha3 {

    background-color: rgb(49, 48, 48);
    height: 20px;
    width: 20px;
    border-radius: 20px;
    position: absolute;
    top: 220px;
    left: 630px;
    z-index: -1;
}

#bolinha4 {

    background-color: rgb(49, 48, 48);
    height: 20px;
    width: 20px;
    border-radius: 20px;
    position: absolute;
    top: 220px;
    left: 790px;
    z-index: -1;
}

#bolinha5 {

    background-color: rgb(49, 48, 48);
    height: 20px;
    width: 20px;
    border-radius: 20px;
    position: absolute;
    top: 170px;
    left: 1030px;
    z-index: -1;
}

#bolinha6 {

    background-color: rgb(49, 48, 48);
    height: 20px;
    width: 20px;
    border-radius: 20px;
    position: absolute;
    top: 270px;
    left: 1030px;
    z-index: -1;
}

#tonalidade {

    background-color: rgb(44, 155, 230);
    position: absolute;
    top: 9px;
    left: 820px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
}

#estrutura {

    background-color: purple;
    position: absolute;
    top: 9px;
    left: 400px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
}

#tipo {

    background-color: gray;
    position: absolute;
    top: 9px;
    left: 600px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 10px;
}

option:hover{

    background-color: white;
    color:  rgb(44, 155, 230);


}